body {
  background: skyblue;
  margin: 0;
}

h1 {
  padding-left: 120px;
  margin-top: -30px; 
}

.topnav {
  overflow: hidden;
  background-color: skyblue;
  padding-right: 90px;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 6px 16px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}